In [18]:
import mysql.connector  
  
con = mysql.connector.connect(host = "localhost", user="root",passwd = "tanmay")  
print(con)

<mysql.connector.connection.MySQLConnection object at 0x0000007E53530908>

In [19]:
import mysql.connector  
  
con=mysql.connector.connect(host = "localhost", user = "root",passwd = "tanmay",database="python")  
  
#printing the connection object   
print(con)

<mysql.connector.connection.MySQLConnection object at 0x0000007E53530D68>

In [20]:
import mysql.connector  

con=mysql.connector.connect(host = "localhost", user = "root",passwd = "tanmay")  
print(con)   
  
cur = con.cursor()    
print(cur)

<mysql.connector.connection.MySQLConnection object at 0x0000007E53530898>
MySQLCursor: (Nothing executed yet)

In [21]:
import mysql.connector  
  
con= mysql.connector.connect(host = "localhost", user = "root",passwd = "tanmay")  
cur = con.cursor()  
  
try:  
    dbs = cur.execute("show databases")  
except:  
    con.rollback()  
for x in cur:  
    print(x)  
con.close()

('information_schema',)
('mysql',)
('performance_schema',)
('python',)
('pythonprogrammers',)
('school',)
('sys',)

In [17]:
import mysql.connector  
  
con = mysql.connector.connect(host = "localhost", user = "root",passwd = "tanmay")
cur = con.cursor()  
  
try:  
    #creating a new database  
    cur.execute("create database python")  
  
    dbs = cur.execute("show databases")  
      
except:  
    con.rollback()  
  
for x in cur:  
        print(x)  
          
con.close()

In [ ]:
import mysql.connector  
  
#Create the connection object   
myconn = mysql.connector.connect(host = "localhost", user = "root",passwd = "tanmay",database = "python1")  
  
#creating the cursor object  
cur = myconn.cursor()  
  
try:  
    #Reading the Employee data      
    cur.execute("select * from Employee")  
  
    #fetching the rows from the cursor object  
    result = cur.fetchall()  
    #printing the result  
      
    for x in result:  
        print(x);  
except:  
    myconn.rollback()  
  
myconn.close()

In [12]:
import mysql.connector  
  
#Create the connection object   
myconn = mysql.connector.connect(host = "localhost", user = "root",passwd = "tanmay",database = "python1")  
  
#creating the cursor object  
cur = myconn.cursor()  
  
try:  
    #adding a column branch name to the table Employee  
    cur.execute("alter table Employee add branch_name varchar(20) not null")  
except:  
    myconn.rollback()  
  
myconn.close()

In [13]:
import mysql.connector  
#Create the connection object   
myconn = mysql.connector.connect(host = "localhost", user = "root",passwd = "tanmay",database = "python1")  
#creating the cursor object  
cur = myconn.cursor()  
sql = "insert into Employee(name, id, salary, dept_id, branch_name) values (%s, %s, %s, %s, %s)"  
  
#The row values are provided in the form of tuple   
val = ("John", 110, 25000.00, 201, "Newyork")  
  
try:  
    #inserting the values into the table  
    cur.execute(sql,val)  
  
    #commit the transaction   
    myconn.commit()  
      
except:  
    myconn.rollback()  
  
print(cur.rowcount,"record inserted!")  
myconn.close()

1 record inserted!

In [ ]:
import mysql.connector  
  
#Create the connection object   
myconn = mysql.connector.connect(host = "localhost", user = "root",passwd = "tanmay",database = "python1")  
  
#creating the cursor object  
cur = myconn.cursor()  
  
try:  
    #Reading the Employee data      
    cur.execute("select * from Employee")  
  
    #fetching the rows from the cursor object  
    result = cur.fetchall()  
    #printing the result  
      
    for x in result:  
        print(x);  
except:  
    myconn.rollback()  
  
myconn.close()

In [ ]:
import mysql.connector  
  
#Create the connection object   
myconn = mysql.connector.connect(host = "localhost", user = "root",passwd = "google",database = "PythonDB")  
  
#creating the cursor object  
cur = myconn.cursor()  
  
try:  
    #updating the name of the employee whose id is 110  
    cur.execute("update Employee set name = 'alex' where id = 110")  
    myconn.commit()  
except:  
      
    myconn.rollback()  
  
myconn.close()